warmup-scheduler==0.3
h5py==2.10.0
omegaconf==2.1.1
tqdm==4.63.0
opencv-python==4.5.5.62
open3d==0.15.2
trimesh==3.10.2
pytorch3d==0.3.0
tensorboard==2.10.0
# torch # cuda 11 requires a different installation, see https://pytorch.org/get-started/locally/
# conda install pytorch==1.9.0 torchvision==0.10.0 torchaudio==0.9.0 cudatoolkit=11.3 -c pytorch -c conda-forge